<% unless user_signed_in? %>
<div class="jumbotron">
	<h1>Welcome to the Lunch Ordering App</h1>
	<p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
	<p>
		<%= link_to 'Sign up now!', sign_up_path, class: "btn btn-lg btn-primary", id: "sign_up_button" %>
	</p>
</div>
</div>
<% end %>





